body {
  font-family: sans-serif;
}

#assignment-instructions {
  color: darkgoldenrod;
  font-family: sans-serif;
}

.secondLI code {
  color: darkseagreen;
}

code {
  font-family: monospace;
  color: red;
}

li {
  font-family: inherit;
}

li + li {
  background: black;
  color: white;
}

ol li {
  background: black;
  color: white;
}
